{% extends 'app/base.html' %}
{% block content %}
    <div class="container bg-light">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h2>{{ object.name }}</h2>
                    <p>{{ object.description }}</p>
                    <a href="{{ object.task_file.url }}">{{ object.task_file.name }}</a>
                </div>
            </div>
        </div>
        <br/>
        <div>
            <form method="post" action="{% url 'submit_assignment' object.id %}">
                {% csrf_token %}
                <h2>Сдать задание</h2>
                <label for="url">Ссылка на репозиторий</label>
                <input id="url" name="url" type="url">
                <button type="submit" class="btn btn-primary">Сдать</button>
            </form>
        </div>
        <div>
            <h3>Попытки</h3>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Дата</th>
                    <th scope="col">Статус</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row"><a href="#">1</a></th>
                    <td>11.11.2000</td>
                    <td>11.11.2000</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">1</th>
                    <td>11.11.2000</td>
                    <td>11.11.2000</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">1</th>
                    <td>11.11.2000</td>
                    <td>11.11.2000</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}