{% extends 'app/base.html' %}
{% load static %}
{% block content %}
    <div class="container bg-light">
        <div class="accordion" id="accordionExample">
            {% for assignment in object_list %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse{{ assignment.id }}"
                                aria-expanded="true" aria-controls="collapseOne">
                            {{ assignment.name }}
                        </button>
                    </h2>
                    <div id="collapse{{ assignment.id }}" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong><a
                                    href="{% url 'assignment_detail' assignment.id %}">{{ assignment.name }}</a></strong>
                            <br/>
                            {{ assignment.description }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}